<h1>List</h1>

<% if @ships_bookings.any? %>
  <h2>Pending list</h2>

    <% @ships_bookings.each do |booking| %>
  <div class="card">
    <div class="card-body">
      <h2 class="card-title"><%= booking.ship.name %></h2>
      <p class="card-text"><strong>Description:</strong> <%= booking.ship.description %></p>
      <p class="card-text"><strong>Price:</strong> <%= booking.ship.price %></p>
      <p class="card-text"><strong>Address:</strong> <%= booking.ship.address %></p>
      <p class="card-text card-category"><strong>Category:</strong> <%= booking.ship.category %></p>
        <% if booking.status == 'pending' %>
            <%= button_to "Accept", accept_path(booking), method: :patch, class: "accept-button" %>
            <%= button_to "Reject", reject_path(booking), method: :patch, class: "reject-button" %>
          <% elsif booking.status == 'accepted' %>
            <%= button_to "Reject", reject_path(booking), method: :patch, class: "reject-button" %>
          <% else %>
            <%= button_to "Accept", accept_path(booking), method: :patch, class: "accept-button" %>
          <% end %>
        </div>
      </div>

  <% end %>

<% else %>
  <p>No one booked your ships :( </p>
<% end %>
<h2>My Bookings</h2>
<% @bookings.each do |booking| %>
<div class="card">
  <div class="card-body">
    <h2 class="card-title"><%= booking.ship.name %></h2>
    <p class="card-text"><strong>Description:</strong> <%= booking.ship.description %></p>
    <p class="card-text"><strong>Price:</strong> <%= booking.ship.price %></p>
    <p class="card-text"><strong>Address:</strong> <%= booking.ship.address %></p>
    <p class="card-text card-category"><strong>Category:</strong> <%= booking.ship.category %></p>
    </div>
  </div>
<% end %>
