<div class="card">
  <%= link_to ship_path(ship) do %>

  <% end %>
  <div class="card-body">
    <h2 class="card-title"><%= ship.name %></h2>
    <p class="card-text"><strong>Description:</strong> <%= ship.description %></p>
    <p class="card-text"><strong>Price:</strong> <%= ship.price %></p>
    <p class="card-text"><strong>Address:</strong> <%= ship.address %></p>
    <p class="card-text card-category"><strong>Category:</strong> <%= ship.category %></p>
  </div>
</div>

    <%# <p><%= "Hello" if params[:controller] == "pages" && params[:action] == "dashbard" %>
