<div class="card">
  <%= link_to ship_path(ship) do %>

  <% end %>
  <div class="card-body">
    <h2 class="card-title"><%= ship.name %></h2>
    <p class="card-text">Description: <%= ship.description %></p>
    <p class="card-text">Price:<%= ship.price %></p>
    <p class="card-text">Address:<%= ship.address %></p>
    <p class="card-text card-category">Category:<%= ship.category %></p>
  </div>
</div>
