<div class="container" style="margin-top: 30px; width: 75%;">
  <div class="row">
    <div class="">
      <h1><%= @ship.name %></h1>
      <table class="">
        <tbody>
          <tr>
            <th scope="row">Address</th>
            <td><%= @ship.address %></td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td><%= @ship.description %></td>
          </tr>
          <tr>
            <th scope="row">Category</th>
            <td><%= @ship.category %></td>
          </tr>
          <tr>
            <th scope="row">Price</th>
            <td>$<%= @ship.price %></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>


<div class="container date-form" style="margin-top: 30px; width: 35%;">
  <%= simple_form_for([@ship,@booking]) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Create Booking", class:"btn-ghost" %>
  <% end %>
</div>
