<div class="container" style="margin-top: 30px; width: 75%;">
  <div class="row">
    <div class="col-md-12">
    <!-- Name of the ship -->
      <h1><%= @ship.name %></h1>

      <!-- Here is the picture of the ship -->
      <% if @ship.photo.attached? %>
        <%= image_tag(url_for(@ship.photo), class: "card-trip-img", alt: @ship.name) %>
      <% end %>

      <!-- Information about the ship -->
      <div class="table-container">
              <div class="d-flex justify-content-center">
                <table class="table" style="width: auto;">
                  <tbody>
                    <tr>
                      <th scope="row" class="table-header">Address</th>
                      <td><%= @ship.address %></td>
                    </tr>
                    <tr>
                      <th scope="row" class="table-header">Description</th>
                      <td><%= @ship.description %></td>
                    </tr>
                    <tr>
                      <th scope="row" class="table-header">Category</th>
                      <td><%= @ship.category %></td>
                    </tr>
                    <tr>
                      <th scope="row" class="table-header">Price</th>
                      <td>€<%= @ship.price %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- Here is the form to create a new booking -->
<% if user_signed_in? %>
<div class="table-container">
    <div class="container date-form" style="margin-top: 30px; margin-bottom: 30px; width: 65%;">
        <hr class="divider">
    <%= simple_form_for([@ship, @booking]) do |f| %>
      <div class="d-flex justify-content-center">
      </div>
        <%= f.input :start_date, input_html: { class: 'thin-font' }, label_html: { class: 'bold-label' } %>
        <%= f.input :end_date, input_html: { class: 'thin-font' }, label_html: { class: 'bold-label' } %>
        <%= f.submit "Create Booking", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
<% else %>
  <h3>Please LogIn To book a ship or Create to create a New Ship</h3>
<% end %>
