<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1><%= @ship.name %></h1>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th scope="row">Address</th>
            <td><%= @ship.address %></td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td><%= @ship.description %></td>
          </tr>
          <tr>
            <th scope="row">Category</th>
            <td><%= @ship.category %></td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
<div class="container-2">
  <%= simple_form_for([@ship,@booking]) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Create Booking" %>
<% end %>
</div>
